.card {
    margin: 20px 0;
    text-align: left;
    width: 100%;
}

.heading {
    text-align: center;
    padding-bottom: 20px;
}

.cont {
    overflow: hidden;
    margin: -30px 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.deaths {
    color: #a01414;
    font-weight: 600;
}

.recovered {
    color: #2b7f07;
    font-weight: 600;
}
